interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.themoviedb.org/3/tv/1396?api_key=cc7b69d00d28511229d039a4560baf96
  response:
    body:
      string: "{\"backdrop_path\":\"/hbgPoI0GBrXJfGjYNV2fMQU0xou.jpg\",\"created_by\":[{\"id\":66633,\"credit_id\":\"52542286760ee31328001a7b\",\"name\":\"Vince
        Gilligan\",\"profile_path\":\"/rLSUjr725ez1cK7SKVxC9udO03Y.jpg\"}],\"episode_run_time\":[45,47],\"first_air_date\":\"2008-01-20\",\"genres\":[{\"id\":18,\"name\":\"Drama\"}],\"homepage\":\"http://www.amc.com/shows/breaking-bad\",\"id\":1396,\"in_production\":false,\"languages\":[\"en\"],\"last_air_date\":\"2013-09-29\",\"last_episode_to_air\":{\"air_date\":\"2013-09-29\",\"episode_number\":16,\"id\":62161,\"name\":\"Felina\",\"overview\":\"All
        bad things must come to an end.\",\"production_code\":\"\",\"season_number\":5,\"show_id\":1396,\"still_path\":\"/pA0YwyhvdDXP3BEGL2grrIhq8aM.jpg\",\"vote_average\":8.985,\"vote_count\":66},\"name\":\"Breaking
        Bad\",\"next_episode_to_air\":null,\"networks\":[{\"name\":\"AMC\",\"id\":174,\"logo_path\":\"/alqLicR1ZMHMaZGP3xRQxn9sq7p.png\",\"origin_country\":\"US\"}],\"number_of_episodes\":62,\"number_of_seasons\":5,\"origin_country\":[\"US\"],\"original_language\":\"en\",\"original_name\":\"Breaking
        Bad\",\"overview\":\"When Walter White, a New Mexico chemistry teacher, is
        diagnosed with Stage III cancer and given a prognosis of only two years left
        to live. He becomes filled with a sense of fearlessness and an unrelenting
        desire to secure his family's financial future at any cost as he enters the
        dangerous world of drugs and crime.\",\"popularity\":69.046,\"poster_path\":\"/1yeVJox3rjo2jBKrrihIMj7uoS9.jpg\",\"production_companies\":[{\"id\":11073,\"logo_path\":\"/wHs44fktdoj6c378ZbSWfzKsM2Z.png\",\"name\":\"Sony
        Pictures Television\",\"origin_country\":\"US\"},{\"id\":33742,\"logo_path\":null,\"name\":\"High
        Bridge Entertainment\",\"origin_country\":\"US\"},{\"id\":2605,\"logo_path\":null,\"name\":\"Gran
        Via Productions\",\"origin_country\":\"US\"}],\"seasons\":[{\"air_date\":\"2009-02-17\",\"episode_count\":40,\"id\":3577,\"name\":\"Specials\",\"overview\":\"\",\"poster_path\":\"/AngNuUbXSciwLnUXtdOBHqphxNr.jpg\",\"season_number\":0},{\"air_date\":\"2008-01-20\",\"episode_count\":7,\"id\":3572,\"name\":\"Season
        1\",\"overview\":\"High school chemistry teacher Walter White's life is suddenly
        transformed by a dire medical diagnosis. Street-savvy former student Jesse
        Pinkman \\\"teaches\\\" Walter a new trade.\",\"poster_path\":\"/1BP4xYv9ZG4ZVHkL7ocOziBbSYH.jpg\",\"season_numb[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.themoviedb.org/3/tvs/1396?api_key=cc7b69d00d28511229d039a4560baf96
  response:
    body:
      string: '{"status_code":34,"status_message":"The resource you requested could
        not be found."}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-RateLimit-Limit:
      - '40'
      X-RateLimit-Remaining:
      - '39'
      X-RateLimit-Reset:
      - '1576182215'
    status:
      code: 404
      message: Not Found
[...]
